uoftjn.com {
  @api path /api/*
  handle @api {
    uri strip_prefix /api
    reverse_proxy api:8000
  }

  @health path /health
  handle @health {
    respond 200 "healthy"
  }

  reverse_proxy web:3000
}
